body{
    background-color: black;    
    background-image:url('TYRELL.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {   
    width:100%;
}   

div.layout {
    position:absolute;
    bottom: 0;
    background
    z-index: 1;
}

div.container {
    position: relative;
}

div.box {
    width: 9%;
    ;
}
div.data{
    z-index: 1;
    width: 90%;

}

div.box.a {
    margin-left: 300px;
}
 div.box.b {
    margin-left: 50px
 }
div.box.c {
    margin-left: 250px;
    contain
    
}
div.rectangle {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

div.layout {
    display:flex;
    position: absolute;
    z-index: ;
}
div.random {
    transition: 2.4s;
}